<div class="whole-app">
  <nav class="navbar navbar-expand-lg">
    <div class="container-fluid">
      <a class="navbar-brand" style="color:white" href="#">Content Mangement</a>
      <button class="navbar-toggler" type="button" style="color:white" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      
    </div>
  </nav>
  <!-- <div class="messagesDiv">
    <div class="insidemessage">
      this is message
    </div>
  </div> -->
    <div class="content">
      <router-outlet></router-outlet>
    </div>
  
  </div>