.start-admin{
    display: flex;
    width:100%;
    justify-content: space-around;
    position: sticky;
    top:56px;
    background-color: aliceblue;
}
.circular-buttons{
    background-color: #afbece;
    border-radius: 20px;
    margin-right:20px;
    /* margin-bottom:20px; */
}
.circular-buttons.active{
    background-color: #afbece;
}